streamlit
langchain
langchain-openai
langchain-qdrant
langchain-voyageai
langchain-community
langgraph
langgraph-swarm
qdrant-client
pandas
sqlite-utils
python-dotenv
sentence-transformers
langfuse


